Flask==2.3.2
gunicorn==20.1.0
torch==1.8.1+cpu -f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.9.1+cpu -f https://download.pytorch.org/whl/torch_stable.html
ultralytics==8.0.0  
opencv-python-headless==4.5.5.64
numpy==1.21.6
